.cart {
  position: relative;
}

.cart__badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 500;
  transform: translate(25%, -25%);
}

.cart__badge--visibile {
  background: #f44336;
  color: white;
}