<ng-container [formGroup]="form">
  <mat-form-field class="text-field">
    <mat-label>{{ label() | translate }}</mat-label>
    <input
      matInput
      [type]="type()"
      [formControl]="formControl"
      [placeholder]="placeholder()"
      (focus)="handleTouched($event)"
      (input)="handleInput($event)"
    />
    <div matSuffix><ng-content select="[icon]"></ng-content></div>
    @if(formControl.invalid) {
    <mat-error>{{
      "FORM_ERRORS." + errorMessage()?.key | translate : errorMessage()?.params
    }}</mat-error>
    }
  </mat-form-field>
</ng-container>
