.layout {
  min-height: 100dvh;
}

.layout__header {
  position: fixed;
  width: 100%;
}

.layout__outlet {
  padding: 1rem;
}

.menu {
  margin: 0;
  padding: 0;
  display: block;
  background: #e2daff; //TODO:- to be changed to a variable
  border-radius: .5rem;
}