.layout {
  min-height: 100dvh;
}

.layout__header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.layout__outlet {
  padding: 1rem;
}

.menu {
  margin: 0;
  padding: 0;
  display: block;
  background: var(--color-white);
  border-radius: .5rem;
}