<mat-card [routerLink]="FeaturesRoutes.ProductsView.url({ id: product().id })">
  <div class="item" [attr.aria-label]="'Product: ' + product().productName">
    <div class="item__avatar">
      <lib-avatar [imageUrl]="product().imageUrl" [size]="'xxl'" [shape]="'square'" />
    </div>

    <div class="item__details">
      <h3 class="item__title">{{ product().productName }}</h3>
      <p class="item__meta">
        <span>Brand: {{ product().brandName }}</span>
      </p>
      <p class="item__value">${{ product().price.toFixed(2) }}</p>
    </div>

    <div class="item__actions">
      <button
        mat-raised-button
        class="btn"
        color="primary"
        [attr.aria-label]="'Add ' + product().productName + ' to cart'"
        (click)="onAddToCart(); $event.stopPropagation()"
      >
        Add to Cart
      </button>
    </div>
  </div>
</mat-card>

