.mat-toolbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__menu {
  margin: 0;
  padding: 0;
  display: block;
  background: #e2daff; //TODO:- to be changed to a variable
  border-radius: .5rem;
}
