.mat-toolbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  min-height: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
