<form [formGroup]="form" class="form">
  <div class="form__fields">
    <div class="field">
      <app-text-field
        formControlName="productName"
        label="Product Name"
        placeholder="e.g. Snacks"
      ></app-text-field>
    </div>

    <div class="field">
      <app-text-field
        formControlName="brandName"
        label="Brand Name"
        placeholder="e.g. ACME"
      ></app-text-field>
    </div>
  </div>

  <div class="form__actions">
    <button
      mat-flat-button
      class="btn"
      color="primary"
      type="button"
      (click)="onApply()"
    >
      Apply
    </button>
    <button mat-stroked-button class="btn" type="button" (click)="onReset()">
      Reset
    </button>
  </div>
</form>
