.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: #f5f5f5;
}

.form__fields {
  display: flex;
  gap: 1rem;
  width: 50%;
}

.field {
  flex: 1;
}

.form__actions {
  display: flex;
  gap: 0.5rem;
}

:host ::ng-deep .field {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

