.container {
  max-width: 75rem;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.table {
  display: block;
  margin-bottom: 2rem;
}

.panel {
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 4rem 2rem;

  &__icon {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.125rem;
   
  }
}

.bg-gray-50 {
  background: var(--color-gray-50);
}

.text-gray-300 {
    color: var(--color-gray-300);
}

.text-gray-600 {
    color: var(--color-gray-600);
}

.fw-bold {
  font-weight: bold;
}